@page "/"

<PageTitle>Introduction</PageTitle>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">



    <h1>Mutually Orthogonal Latin Squares Game & Pathfinder </h1>
    <h4>by Daniel Henderson and Max Chadaev</h4>

    <a href="/Counter" style="height:75px;width:250px;font-size: 40px; font-weight: 500; margin:20px" class="btn btn-success">Start</a>
    <!--<a href="/Counter" style="height:75px;width:250px;font-size: 20px; font-weight: 500;" class="btn btn-success">Tutorial (not done)</a>-->


</div>


